
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUserNameSurname = Session["LoginUserNameSurname"];
    var loginUserDepartmentID = (int)Session["LoginUserDepartmentID"];
    var loginUserID = (int)Session["LoginUserID"];
}

<h2>Index</h2>

